name: int-test
on:
  workflow_dispatch:
  push:
    branches: ["master"]
  pull_request:
    branches: ["master"]
jobs:
  int-test:
    runs-on: ubuntu-22.04
    steps:
      - name: Checkout
        uses: actions/checkout@v6
      - name: Setup Go
        id: setup-go
        uses: actions/setup-go@v6
        with:
          go-version-file: "${{ github.workspace }}/go.mod"
      - name: Cache go modules
        uses: actions/cache@v4
        with:
          path: |
            ~/go/pkg/mod
          key: ${{ runner.os }}-gomod-${{ steps.setup-go.outputs.go-version }}-${{ hashFiles('**/go.sum') }}
          restore-keys: |
            ${{ runner.os }}-gomod-${{ steps.setup-go.outputs.go-version }}-
      - name: Prepare
        run: |
          make setup
          make generate
      - name: Build image
        run: |
          make build-int-image
      - name: Run service
        uses: hoverkraft-tech/compose-action@v2.0.1
        with:
          compose-file: "./int-test-infra/docker-compose.int-test.yml"
      - name: Test
        run: |
          make int-test-without-infra
